
#title
{
    color: #3db9af;
    size:50px !important;
    justify-content: center;
    align-items: center;
    font-family:serif !important;
}

#icons{
    size:1px;
}
#kb{
    font-family: serif;
    margin: 5px;
    size:30px;
    color: rgb(255, 255, 255);
    font-weight: 10px;
    width:230px;
    margin-left: 26px;
    border-radius: 4px;
}
code{
    color:#6B91A4;
    background-color: #1a1c20;
    position: static !important;
}
svg{
    size:50px;
    position: static !important;
}
circle{
    position: static !important;
}

 
  


  

  
