
#title
{
    color: #3db9af;
    size:50px !important;
    justify-content: center;
    align-items: center;
    font-family:serif !important;
}

#icons{
    size:1px;
}
#kb{
    font-family: serif;
    margin: 5px;
    size:30px;
    color: white;
    font-weight: 10px;
    width:230px;
    margin-left: 26px;
    border-radius: 4px;
}
code{
    color:rgb(185, 189, 245);
    background-color: #1a1c20;
    position: static !important;
}
svg{
    size:50px;
    position: static !important;
}
circle{
    position: static !important;
}
.bm-burger-button {
    position: fixed;
    width: 31px;
    height: 26px;
    color: white;
    left: 10px;
    top: 10px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #525050;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #868686;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 100px !important;
  }




  :root {
    --main-color: rgb(104, 117, 217);
    --main-color-hover: rgb(104, 117, 217, 0.2);
    --track-color: #ddd;
  }
  
  .customSlider {
    /* max width of your slider */
    max-width: 300px;
    /* Optional: Only If you want to center your slider in the page */
    margin: auto;
  }
  
  .customSlider-track {
    /* Top value to align your track to the center of your thumb */
    top: 8px;
    /* thickness of the track */
    height: 4px;
   /* default color of your track */
    background: var(--track-color);
  }
  
  .customSlider-track.customSlider-track-0 {
    /* color of the track before the thumb */
    background: var(--main-color);
  }
  
  